.storywrap {
width:250px;
height:400px;
position:relative;
overflow:hidden;
border-radius:18px;
font-family:Arial;
}

/* =========================
TOP OVERLAY
========================= */

.storytop {
position:absolute;
top:0;
left:0;
width:100%;
z-index:10;
padding:12px;
box-sizing:border-box;

background:linear-gradient(
to bottom,
rgba(0,0,0,0.55),
rgba(0,0,0,0)
);
}

/* =========================
STORY BARS
========================= */

.storybars {
display:flex;
gap:4px;
margin-bottom:10px;
}

.bar {
flex:1;
height:3px;
background:rgba(255,255,255,0.3);
border-radius:999px;
overflow:hidden;
position:relative;
}

.fill {
position:absolute;
top:0;
left:0;
height:100%;
background:white;
width:0%;
}

/* BAR 1 */

.fill1 {
animation:fill1 9s linear infinite;
}

/* BAR 2 */

.fill2 {
animation:fill2 9s linear infinite;
}

/* BAR 3 */

.fill3 {
animation:fill3 9s linear infinite;
}

/* =========================
USER INFO
========================= */

.storyinfo {
display:flex;
justify-content:space-between;
align-items:center;
}

.leftinfo {
display:flex;
align-items:center;
}

.storypfp {
width:28px;
height:28px;
border-radius:100%;
object-fit:cover;
margin-right:5px;
flex-shrink:0;
display:block;  
margin-left:-3px;
}

.storyname {
color:white;
font-size:13px;
font-weight:700;
margin-left:-4px;  
}

.storyverify {
width:14px;
height:14px;
margin-left:4px;
}

.storytime {
color:rgba(255,255,255,0.7);
font-size:12px;
margin-left:-4px;
}

.righticons {
color:white;
font-size:18px;
display:flex;
gap:10px;
}

/* =========================
MUSIC
========================= */

.musicname {
color:white;
font-size:12px;
margin-top:8px;
}

/* =========================
SLIDER
========================= */

.slider {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:1;
}

.slides {
display:flex;
width:300%;
animation:slide 9s linear infinite;
}

.slides img {
width:250px;
height:400px;
object-fit:cover;
object-position:center;
flex-shrink:0;
}

/* =========================
PROGRESS BAR ANIMATION
========================= */

@keyframes fill1 {

0% {
width:0%;
}

30% {
width:100%;
}

33% {
width:100%;
}

100% {
width:100%;
}

}

/* BAR 2 */

@keyframes fill2 {

0% {
width:0%;
}

33% {
width:0%;
}

63% {
width:100%;
}

66% {
width:100%;
}

100% {
width:100%;
}

}

/* BAR 3 */

@keyframes fill3 {

0% {
width:0%;
}

66% {
width:0%;
}

100% {
width:100%;
}

}

/* =========================
SLIDE ANIMATION
========================= */

@keyframes slide {

0%,30% {
transform:translateX(0);
}

33%,63% {
transform:translateX(-250px);
}

66%,100% {
transform:translateX(-500px);
}

}
