:root {
--los-joydbg:#1a2128; /*|__________poszt színe__________*/
--los-joydbg2:#12171C; 
--los-joylbg:#212b36;
--los-joylbg2:#0e393d;/*|__________extrán világos szín, pl Vance __________*/
--los-joydborder:#1a2128;
--los-joylborder:#212b36;
--los-joycf: #364759;/*|__________ világos __________*/
--los-joycff: #1b252c; /*|__________ sötét __________*/
--livin-kiecolor1los:#215487; /*|__________Kie kék1__________*/
--livin-kiecolor2los:#47596C; /*|__________Kie blue __________*/
--livin-kiecolor3los:#A3A9FF; /*|__________Kie zöld seagreen__________*/
--livin-kiecolor4los:#6494c5; /*|__________Lan & Kie szín__________*/
--los-colorful5:#217178; /*|__________színátmenet, kékes - csillagos jan __________*/
--los-colorful6:#A496D9; /*|__________színátmenet, brownred - csillagos jan__________*/
}
