:root {
--livin-joydbg:#03181a;
--livin-joylbg:#0b2a2c; /*|__________poszt színe__________*/
--livin-joylbg2:white;/*|__________extrán világos szín, pl Vance 0e393d __________*/
--livin-joydborder:#081f21;
--livin-joylborder:#0e393d;
}
