:root {
--livin-joydbg:#A496D9;
--livin-joylbg:#0b2a2c; /*|__________poszt színe__________*/
--livin-joylbg2:#0e393d;/*|__________extrán világos szín, pl Vance __________*/
--livin-joydborder:#081f21;
--livin-joylborder:#D98D8D;
}
