.instabg2 {
  background: rgb(0 0 0 /.4);
  display: flex;
  justify-content: center;
  width:435px;
  font-family: Arial;
}

.state { display: none; }

.instaframe {
  width: 420px;
  height:auto;
  overflow: hidden;
  position: relative;
  box-shadow: white;
}

.instatrack2 {
  width:350%;
  transition: 0.45s ease;
  display: flex;
}

.instatrack2 img {
  width: 406px;
  margin: 5px 5px 0px 5px;
  border-radius: 5px;
  object-fit: cover;
  border: 2px solid #262626;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.03);
}

#a1_s1:checked ~ .instaframe .instatrack2 {
  transform: translateX(0);
}

#a1_s2:checked ~ .instaframe .instatrack2 {
  transform: translateX(-420px);
}

#a1_s3:checked ~ .instaframe .instatrack2 {
  transform: translateX(-840px);
}

#a1_s4:checked ~ .instaframe .instatrack2 {
  transform: translateX(-1260px);
}

#a1_s5:checked ~ .instaframe .instatrack2 {
  transform: translateX(-1680px);
}

/* NYILAK */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}

#a1_s1:checked ~ .instaframe .to2 { display:flex; }

#a1_s2:checked ~ .instaframe .to1,
#a1_s2:checked ~ .instaframe .to3 { display:flex; }

#a1_s3:checked ~ .instaframe .to2b,
#a1_s3:checked ~ .instaframe .to4 { display:flex; }

#a1_s4:checked ~ .instaframe .to3b,
#a1_s4:checked ~ .instaframe .to5 { display:flex; }

#a1_s5:checked ~ .instaframe .to4b { display:flex; }

.left { left: 10px; }
.right { right: 10px; }

.lainstaprofpic{
  height:46px;
  width:46px;
  border-radius:100%;
  object-fit:cover;
  display:block;
  margin:10px;
  background: conic-gradient(#e1306c 0deg,#c13584 40deg,#e1306c 80deg,#f77737 140deg,#f9ce34 200deg,#f77737 300deg,#e1306c 360deg);
  padding:2px;
  position:relative;
  z-index:2;
  margin-top:2px;
  margin-left:-7px;
}

.lainstaup{
  background: rgb(0 0 0 /.4);
  width:431px;
  font-family: Arial;
  padding:2px;
  height:30px;
  padding-bottom:4px;
}

.lainstadown{
  background: rgb(0 0 0 /.4);
  width:430px;
  font-family: Arial;
  padding:2px;
  height:22px;
  position:relative;
  z-index:2;
}

.lainstadown2{margin-top:2px;}

.lainstatext{
  background: rgb(0 0 0 /.4);
  width:415px;
  font-family: Arial;
  padding:10px;
  height:auto;
  margin-top:-19px;
  text-align:justify;
}
